.navContainer {
  display: flex;
  flex-direction: row;
  background-color: rgb(250, 206, 165);
  padding-left: 15%;
}

.logo {
  font-weight: 600;
  font-size: 18px;
  margin: 0 4px;
  padding: 8px 12px;
  font-style: italic;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.loginLink {
  font-size: 16px;
  font-weight: 500;
  margin: 4px 12px;
  padding: 8px 12px;
  cursor: pointer;
  align-self: flex-end;
  text-align: right;
  text-transform: capitalize;
}

.loginLink:hover {
  background-color: rgb(157, 216, 255);
}
